* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #F66903;
    padding: 1rem;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: auto;
}

.nav-item {
    padding: 0 0.5rem;
    cursor: pointer;
}

.nav-icon {
    width: 25px;
    color: white;
    padding: 0 0.2rem;
    cursor: pointer;
}

.nav-item:hover {
    text-decoration: underline;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 140px;
}

footer {
    background-color: #1A1A1A;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 1rem;
}

footer h3 {
    padding: 0.3rem 0.4rem;
}

footer h4 {
    padding: .5rem .2rem;
}

.footer-link {
    padding: 0 0.4rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-social-icon {
    width: 25px;
    color: white;
    padding: 0 0.2rem;
    cursor: pointer;
}